
@model IEnumerable<ProductManagementAss2.Models.Domain.Product>
<a class="btn btn-primary md-3" asp-action="Create">Create a Product</a>
<table class="table table-striped" aria-describedby="ProductList">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model =>model.ProdId)</th>
            <th>
                @Html.DisplayNameFor(model =>model.Name)
            </th>

            <th>@Html.DisplayNameFor(model=>model.Description)</th>

            <th>@Html.DisplayNameFor(model=>model.Category)</th>

            <th>@Html.DisplayNameFor(model=>model.Price)</th>
           
                <th>Actions</th>
         
           

        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach(var product in Model)
        {
               count++;
            <tr>
                 <td>@count</td>
                 <td>
                    @Html.DisplayFor(modelProduct=>product.Name)
                </td>
                <td>@Html.DisplayFor(modelProduct=>product.Description)</td>
                <td>@Html.DisplayFor(modelProduct=>product.Category)</td>
                <td>@Html.DisplayFor(modelProduct=>product.Price)</td>
               
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Update" class="btn btn-primary rounded" asp-route-id="@product.ProdId">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>


                        <a asp-action="Delete" class="btn btn-danger rounded" asp-route-id="@product.ProdId">
                            <i class="bi bi-trash3-fill"></i>Delete
                        </a>
                    }
                    <a asp-action="Detail" class="btn btn-success rounded" asp-route-id="@product.ProdId">
                        <i class="bi bi-card-text"></i>Details
                    </a>
                </td>
               
             </tr>

        }
        
</tbody>
</table>
